
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    ont-weight: 600;
    font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #f9f9fc;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0AA9FE;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: #A48AFA;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  li a:hover:not(.active) {
    background-color: #052b94;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .active {
    background-color: #666666;
  }