nav {
    position : absolute;
    left : 0;
    width : 100%;
    background : rgb(191, 35, 223);
    }
    nav ul {
    margin : 6 auto;
    width : 1200%;
    list-style : none;
    }
    nav ul li {
    float : left;
    }
    nav ul li a {
    display : block;
    margin-right : 40%;
    width : 140%;
    font-size : 20px;
    line-height : 60%;
    text-align : center;
    text-decoration : none;
    color : #ccc;
    }
    nav ul li a:hover {
    color : #fff;
    }
    nav ul li.selected a {
    color : rgb(126, 185, 240);}