.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    }
    .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
    }
    nav {
        position : absolute;
        left : 0;
        width : 100%;
        background :#53ceec;
        }
        nav ul {
        margin : 0 auto;
        width : 940px;
        list-style : none;
        }
        nav ul li {
        float : left;
        }
        nav ul li a {
        display : block;
        margin-right : 20px;
        width : 140px;
        font-size : 14px;
        line-height : 44px;
        text-align : center;
        text-decoration : none;
        color : rgb(40, 4, 243);
        }
        nav ul li a:hover {
        color : #fff;
        }
        nav ul li.selected a {
        color : #fff;}